.App {
  text-align: left;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-height: auto;
  overflow: hidden;
}

.App-logo {
  height: 20vmin;
}
#root{
  width: 100vw;
  height: 100vh;

  
}

body {
  background-color: #F44000;
  background: url("bg2.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
  height: 100vh;
}

.App-link {
  color: #09d3ac;
}